/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1f1e1e;
  --ifm-color-primary-dark: #1c1b1b;
  --ifm-color-primary-darker: #1a1919;
  --ifm-color-primary-darkest: #161515;
  --ifm-color-primary-light: #222121;
  --ifm-color-primary-lighter: #242222;
  --ifm-color-primary-lightest: #282727;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ebeaea;
  --ifm-color-primary-dark: #d4d2d2;
  --ifm-color-primary-darker: #c9c6c6;
  --ifm-color-primary-darkest: #a6a2a2;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
}
